App_WebReferences/LoginServiceReference/BookReviewLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookReviewLoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1129/BookReviewLoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1129/BookReviewLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1129/BookReviewLoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookReviewLoginService_ReviewerLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ReviewerLogin" />
  </wsdl:message>
  <wsdl:message name="IBookReviewLoginService_ReviewerLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReviewerLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBookReviewLoginService_ReviewerRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:ReviewerRegistration" />
  </wsdl:message>
  <wsdl:message name="IBookReviewLoginService_ReviewerRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReviewerRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookReviewLoginService">
    <wsdl:operation name="ReviewerLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookReviewLoginService/ReviewerLogin" message="tns:IBookReviewLoginService_ReviewerLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookReviewLoginService/ReviewerLoginResponse" message="tns:IBookReviewLoginService_ReviewerLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReviewerRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookReviewLoginService/ReviewerRegistration" message="tns:IBookReviewLoginService_ReviewerRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookReviewLoginService/ReviewerRegistrationResponse" message="tns:IBookReviewLoginService_ReviewerRegistration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookReviewLoginService" type="tns:IBookReviewLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReviewerLogin">
      <soap:operation soapAction="http://tempuri.org/IBookReviewLoginService/ReviewerLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewerRegistration">
      <soap:operation soapAction="http://tempuri.org/IBookReviewLoginService/ReviewerRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookReviewLoginService">
    <wsdl:port name="BasicHttpBinding_IBookReviewLoginService" binding="tns:BasicHttpBinding_IBookReviewLoginService">
      <soap:address location="http://localhost:1129/BookReviewLoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>